@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

html, body {
  background-color: #FFFFFF;
  margin: 0;
  width: 100%;
  height: 100%;
}
.chat-ai {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.response-buttons {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d0d0d0; /* Match the background color */
  z-index: 1; /* Fix the position */
  bottom: 120px;
  width: 100%;
  border-radius: 10px;
}

.response-buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #316bc2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.response-buttons button:hover {
  background-color: #2e64b6;
}

.chat-ai .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Updated */
}


.chat-ai .message-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #575c66;
  display: flex;
  z-index: 2;
}

.chat-ai .message-form textarea {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  background-color: #ededed;
  resize: none;
  border-radius: 30px;
  padding-left: 4vh;
  padding-right: 3vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.chat-ai .message-form button {
  margin-left: 10px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #316bc2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chat-ai .message-form button:hover {
  background-color: #2e64b6;
}

.chat-ai .content {
  background-color: #ededed;
  color: #000000;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.chat-ai .content::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 15vh;
  width: 100%;
  background: linear-gradient(to top, #939393 50%, transparent);
}
.chat-ai .content .welcome {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  border-radius:10px;
  text-align: center;
}


.chat-ai .content .welcome h1 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 5vh;
  color: #000000;
  margin-right: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

#chat-logo-and-name{
  display: flex;

}

#chat-logo-and-name img{
  height: 8vh;
  width: 8vh;
}


#chat-logo-and-name .app-name-letter {
  display: inline-block;
}


.chat-ai .content .welcome h1 .ver {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 55px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-left: 15px;
  font-weight: 500;
  background-color: #383c42;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  -webkit-text-fill-color: currentcolor;
  -moz-text-fill-color: currentcolor;
}
.chat-ai .content .welcome p {
  font-size: 2vh;
  display: flex;
}
.chat-ai .content .welcome p a {
  color: #c5c8ce;
  font-size: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #c5c8ce;
}
.chat-ai .content .welcome p a:hover {
  color: #e1e2e5;
}
.chat-ai .content .welcome .open-database {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 15px;
  background-color: #316bc2;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color .2s ease;
}
.chat-ai .content .welcome .open-database i {
  margin-right: 8px;
}
.chat-ai .content .welcome .open-database:hover {
  background-color: #2e64b6;
}
.chat-ai .content .messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow-y: auto; /* Updated */
    overflow-x: hidden;
    margin-top: 15vh;
    align-items: center;
    width: 100%;
}
.chat-ai .content .conversation-title {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  border-bottom: 1px solid #d9dadc;
  position: absolute;
  z-index: 1000;
  background: lightgray;
  top: 0;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0.9px 1.2px 2.4px rgba(0, 0, 0, 0.062),  2.2px 3px 6px rgba(0, 0, 0, 0.089),  4.4px 6.2px 12.2px rgba(0, 0, 0, 0.111),  9.1px 12.8px 25.2px rgba(0, 0, 0, 0.138),  25px 35px 69px rgba(0, 0, 0, 0.2);
}

.conversation-title {
    background: #939393;
}
.chat-ai .content .conversation-title h2 .text {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  font-style: italic;
}
.chat-ai .content .conversation-title h2 i {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  top: -3px;
  margin-left: 10px;
  color: #8f9196;
}
.chat-ai .content .conversation-title h2 i:hover {
  color: #c7c8cb;
}
.chat-ai .content .messages .message {
  padding: 5vh;
}
.chat-ai .content .messages .message .wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
}
.chat-ai .content .messages .message .wrapper .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3a71c5;
  font-weight: 500;
}
.chat-ai .content .messages .message .wrapper .details {
  flex: 1;
}
.chat-ai .content .messages .message .wrapper .details .date {
  font-size: 12px;
  font-weight: 500;
  padding: 0 25px;
  color: #2d2d2d;
}
.chat-ai .content .messages .message .wrapper .details .text {
  padding: 5px 25px;
  width: 100%;
}
.chat-ai .content .messages .message .wrapper .details .text pre {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #2d2f34;
}
.chat-ai .content .messages .message .wrapper .details .text pre code {
  text-indent: 40px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
}
.chat-ai .content .messages .message .wrapper .details .text .tokens {
  display: inline-block;
  padding: 5px 7px;
  border-radius: 4px;
  background-color: #3b3e45;
  font-size: 12px;
  font-weight: 500;
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.chat-ai .content .messages .message.assistant {
  border-radius: 10px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #8f9091;
  background-color: #d0d0d0;
  box-shadow: 0.9px 1.2px 2.4px rgba(0, 0, 0, 0.062),  2.2px 3px 6px rgba(0, 0, 0, 0.089),  4.4px 6.2px 12.2px rgba(0, 0, 0, 0.111),  9.1px 12.8px 25.2px rgba(0, 0, 0, 0.138),  25px 35px 69px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 93%;
}

.chat-ai .content .messages .message.user {
  border-radius: 10px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #8f9091;
  background-color: #d0d0d0;
  box-shadow: 0.9px 1.2px 2.4px rgba(0, 0, 0, 0.062),  2.2px 3px 6px rgba(0, 0, 0, 0.089),  4.4px 6.2px 12.2px rgba(0, 0, 0, 0.111),  9.1px 12.8px 25.2px rgba(0, 0, 0, 0.138),  25px 35px 69px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 93%;
}
.chat-ai .content .messages .message.assistant .wrapper .avatar {
  background-color: #21bd81;
}
.chat-ai .content .messages .message.assistant .wrapper .text .blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.chat-ai .content .message-form {
  position: absolute;
  bottom: 2vh;
  max-width: 600px;
  width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: #ededed;
  z-index: 1;
}
.chat-ai .content .message-form input {
  width: 100%;
  height: 100%;
  padding: 15px 40px 15px 15px;
  border: none;
  font-size: 16px;
  outline: 0;
  color: #000;
  background-color: transparent;
}
.chat-ai .content .message-form input::placeholder {
  color: #8e949f;
}
.chat-ai .content .message-form button {
  position: absolute;
  right: 1vh;
  top: 0;
  bottom: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #8e949f;
  cursor: pointer;
  transition: color .2s ease;
}
.chat-ai .content .message-form button:hover {
  color: #b7bbc2;
}
.chat-ai .error-toast, .chat-ai .success-toast {
  display: flex;
  padding: 12px 15px;
  max-width: 100%;
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: #ffc3c3;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-left: 3px solid #df4747;
  font-weight: 500;
  font-size: 14px;
  color: #bb3c3c;
  opacity: 1;
  transition: opacity 5s ease;
}
.chat-ai .success-toast {
  background-color: #c3ffdc;
  border-left: 3px solid #4bcc81;
  color: #50ad77;
}
.chat-ai-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999999;
  align-items: center;
  justify-content: center;
}
.chat-ai-modal .content {
  border-radius: 5px;
  overflow: hidden;
  transform: scale(0.5);
  background-color: #3c4047;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03);
  width: 400px;
}
.chat-ai-modal .content .heading {
  display: flex;
  padding: 20px;
  margin: 0;
  font-weight: 500;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1px solid #464a52;
  align-items: center;
}
.chat-ai-modal .content .heading .modal-close {
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 4px;
  cursor: pointer;
  color: gray;
}
.chat-ai-modal .content .heading .modal-close:hover {
  color: white;
}
.chat-ai-modal .content .footer {
  display: flex;
  border-top: 1px solid #464a52;
  background-color: #40444c;
  padding: 20px;
}
.chat-ai-modal .content form {
  display: flex;
  flex-flow: column;
  padding: 20px;
}
.chat-ai-modal .content form.file-manager-editor {
  padding: 0;
}
.chat-ai-modal .content form label {
  color: #fff;
  padding-bottom: 10px;
  font-size: 14px;
}
.chat-ai-modal .content form input {
  width: 100%;
}
.chat-ai-modal .content form input, .chat-ai-modal .content form select {
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  height: 38px;
  margin-bottom: 15px;
  background-color: #535963;
  color: #b1b3b5;
}
.chat-ai-modal .content form input[type="checkbox"] {
  width: auto;
}
.chat-ai-modal .content form .group {
  display: flex;
}
.chat-ai-modal .content form .group > :first-child {
  margin-right: 10px;
}
.chat-ai-modal.large .content {
  width: 900px;
}
.chat-ai-modal.medium .content {
  width: 600px;
}
.chat-ai-modal.open {
  display: flex;
}
.chat-ai-modal.open .content {
  transform: scale(1);
  transition: all 0.2s ease;
}
.chat-ai-modal .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  border: 0;
  background-color: #316bc2;
  color: #fff;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  height: 38px;
}
.chat-ai-modal .btn:hover {
  background-color: #2e64b6;
}
.chat-ai-modal .btn.alt {
  color: #fff;
  background-color: #31343a;
}
.chat-ai-modal .btn.alt:hover {
  background-color: #2f3237;
}
.chat-ai-modal .btn.disabled {
  pointer-events: none;
  background-color: #b1b3b4;
}
.chat-ai-modal .btn.disabled:hover {
  background-color: #a9abad;
}
.chat-ai-modal .btn.right {
  margin-left: auto;
}
@media screen and (max-width: 800px) {
  .chat-ai .open-sidebar {
    display: flex;
  }
  .chat-ai .conversations {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .chat-ai .content .messages .message {
    padding: 20px;
  }
  .chat-ai .content .messages .message .wrapper .avatar {
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    height: 40px;
  }
  .chat-ai .content .messages .message .wrapper .details .date {
    padding: 0 15px;
  }
  .chat-ai .content .messages .message .wrapper .details .text {
    padding: 5px 15px;
  }
}



/* chatStyles.css */

*{
  font-family: 'Poppins', sans-serif;
}

#chat-popup {
  position: fixed;
  width: -webkit-fill-available;
  background-color: white;
  box-shadow: 0.9px 1.2px 2.4px rgba(0, 0, 0, 0.062),  2.2px 3px 6px rgba(0, 0, 0, 0.089),  4.4px 6.2px 12.2px rgba(0, 0, 0, 0.111),  9.1px 12.8px 25.2px rgba(0, 0, 0, 0.138),  25px 35px 69px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: hidden;
  display: none;
}

#chat-popup .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #292c31;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#chat-popup .chat-header h2 {
  margin: 0;
  font-size: 18px;
}

#chat-popup .chat-header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#chat-popup .chat-body {
  padding: 10px;
  overflow-y: auto;
  height: calc(100% - 100px);
}

#chat-popup .chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

#chat-popup .chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#chat-popup .chat-footer button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background-color: #292c31;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#close-chat-button {
  z-index: 1002;
  position: absolute;
  right: 3vh;
  top: 2vh;
  background: none;
  border: none;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 4vh;
  display: flex;
}

#close-chat-button img{
  width: 3.5vh;
  height: 3.5vh;
}

.button-overlay::before #close-chat-button{
  background-color: rgba(0, 0, 0, 0.3); /* Low opacity dark overlay */
}

.button-active {
  background-color: #bdbdbd !important; /* Same as hover background color */
}

.button-hover {
  background-color: #bdbdbd !important;
}